body{
    font-family: "Nexa Light", sans-serif;
}

.flex_item img{
    height: 25dvh;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

.flex_item{
    flex-direction: row;
    border: solid thick darkblue;
    min-width: 80%;
}

.button{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 0.2rem;
    margin: 1dvh;
    min-width: fit-content;
    width: 5dvw;
    text-align: center;
}

.clear_button{
    background-color: #f15b39;
    border: 1px solid #f15b39;
}

.back_button{
    background-color: #1E407A;
    border: 1px solid #1E407A;
}
main{
    margin: 1dvh;
    min-height: 70dvh;
}