.page_text_top{
    display: flex;
    align-items: center;
    font-family: "Nexa Bold";
    justify-content: center;
    font-size: 50;
    margin: 3vh;
}

.header_word_blue{
    color: #1E407A;
}

.header_word_green{
    color: #51B2A2;
}

.header_word_orange{
    color: #F15B39;
}

.header_word_pink{
    color: #E990B9;
}

.header_word_yellow{
    color: #FECD3E;
}

.page_content{
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 55vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.left_collumn_part{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 27vh;
}

.image_left_collumn{
    height: 27vh;
}

.right_collumn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}

.image_right_collumn{
    height: inherit;
    width: inherit;
    object-fit: contain;
}

.buy_now{
    position: absolute;
    height: 27vh;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FECD3E;
}

.left_collumn_part:hover .buy_now{
    display: flex;
}