body { 
    margin: 0 auto;
    height: 100vh;
    grid-gap: 20px; 
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
  padding: 0px;  
  padding-left: 100px;
  justify-content: center; /* Выравниваем контейнер по центру по горизонтали */
  align-items: center; 
  }
  
  .contact-info {
    grid-column: 1; 
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: #1E407A;
    font-size: 18px; 
    
    font-family: "Arial", sans-serif;
    border: 9px solid #FECD3E;
    max-width: 250px;
  }
  
  .contact-info-p {
    text-align: center;
    color: #1E407A;
}
  
  .contact-form {
    grid-column: 2; 
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: #1E407A;
    border: 9px solid #FECD3E;
    font-family: "Arial", sans-serif;
    max-width: 650px;
    margin-left: -300px;
  }

  input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 7px;
    border: 3px solid #FECD3E;
    border-radius: 0;
    color: #333;
    font-size: 16px;
    background-color: lightyellow;
}
label {
    font-size: 20px; 
    text-decoration: underline;
  }
 
button {
    background-color: #FECD3E;
    color: #1E407A;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.email, .email2, .phone, .phone2{
    text-decoration: underline;
}

.email, .phone{
     font-weight: bold;
}
