/* styles.css */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 20vh;
    background-color: #fff;
    border: 8px solid #FECD3E; /* Увеличиваем ширину обводки до 8 пикселей */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    text-align: center;
    color: #1E407A;
}

.modal-text {
    font-size: 20px;
}

.modal-image {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.open-modal-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}
